<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
  <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r81/three.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <title>EJ Medical Web Application V2</title>
</head>
<body>

  <!--UI-->
  <script src="./main.js"></script>

  <!-- APP-->
  <script  src="app.js"></script>
</body>
</html>
